page: About

{% extends "base.html" %}

{% block content %}
	<h2 class="page-title">About</h2>

	I'm a software engineer (and amateur number theorist) living and working in Berlin. I (perhaps very) occasionally write about programming, mathematics, and a few other tecnical things.

	<h3 class="section">Contact</h3>

	<p>If you'd like to contact me, you can send an email to &lsquo;hds&rsquo; at this domain. You can also use the same username at caffeineconcepts.com, which is my primary address.</p>

	<h3 class="section">Social networks</h3>

	<div class="section">
		<div>
			<span class="item-title">GitHub</span>
			<span class="item-content"><a href="https://github.com/hds/">hds</a></span>
		</div>
		<div>
			<span class="item-title">Twitter</span>
			<span class="item-content"><a href="https://twitter.com/haydenstainsby">@haydenstainsby</a></span>
		</div>
		<div>
			<span class="item-title">Research Gate</span>
			<span class="item-content"><a href="http://www.researchgate.net/profile/Hayden_Stainsby">Hayden Stainsby</a></span>
		</div>
		<div>
			<span class="item-title">LinkedIn</span>
			<span class="item-content"><a href="https://www.linkedin.com/pub/hayden-stainsby/86/366/1a3">Hayden Stainsby</a></span>
		</div>
	</div>

{% endblock content %}
