page: Contact

{% extends "base.html" %}

{% block content %}
	<h2 class="page-title">Contact</h2>

	<div class="contact">
		<p class="method">Phone: <a href="tel:+34935813739">+34 935 813 739</a></p>
		<p class="method">Email: <a href="mailto:hds@theoriginaltakeaway.com">hds@theoriginaltakeaway.com</a></p>
	</div>

	<h3 class="section">Social networks</h3>

	<div class="contact">
		<p class="method"><a href="http://www.researchgate.net/profile/Hayden_Stainsby">Research Gate</a></p>
		<p class="method"><a href="https://www.linkedin.com/pub/hayden-stainsby/86/366/1a3">LinkedIn</a></p>
		<p class="method"><a href="https://github.com/hds/">GitHub</a></p>
	</div>

	<div class="contact">
		<p class="method"><a href="https://twitter.com/haydenstainsby">Twitter</a></p>
		<p class="method"><a href="https://plus.google.com/+HaydenStainsby/">Google+</a></p>
	</div>
{% endblock content %}
