page: CV

{% extends "base.html" %}

{% block content %}
	<h2 class="page-title">Curriculum Vit&aelig;</h2>

	<p>Here you can find an online and up-to-date version of my academic curriculum vit&aelig;. If you would prefer a static offline version, here's a <a href="/static/media/2014-hds-academic-cv.pdf">PDF of my academic CV</a>.</p>

	<p>I am also an experienced software engineer, if you're looking for one of those, here's a <a href="/static/media/2014-hds-tech-cv.pdf">PDF of my technical CV</a>.</p>

	<div class="cv">
		<h3 class="page-title section">Personal Details</h3>

		<div class="cv-details">
			<p><label>Given names:</label> Hayden Duncan</p>
			<p><label>Surname:</label> Stainsby</p>
			<p><label>Country of Origin:</label> Australia</p>
		</div>


		<h3 class="page-title section">Education and training</h3>

		<div class="cv-details">
			<div class="item">
				<h4>Ph.D. in Mathematics <span class="year">(2010 - 2014)</span></h4>
				<p>Universitat Aut&ograve;noma de Barcelona - <span class="location">Barcelona, Spain</span></p>
			</div>

			<div class="item">
				<h4>Masters of Multimedia Design <span class="year">(2009-2010)</span></h4>
				<p>Escoles Universit&agrave;ries Gimbernat i Tom&agrave;s Cerd&agrave; (Adscrita a la UAB) - <span class="location">Barcelona, Spain</span></p>
			</div>

			<div class="item">
				<h4>Masters of Computational Science and Engineering <span class="year">(2008 - 2010)</span></h4>
				<p>Universitat Aut&ograve;noma de Barcelona <span class="location">Barcelona, Spain</span></p>
			</div>

			<div class="item">
				<h4>Bachelor of Digital Systems <span class="year">(2002 - 2004)</span></h4>
				<p>Monash University <span class="location">Melbourne, Australia</span></p>
			</div>
		</div>

		<h3 class="page-title section">Publications</h3>

		<h4>Journal</h4>

		<div class="cv-details">
			<p class="item"><em>Bauch, Jens-Dietrich; Nart, Enric; Stainsby, Hayden D</em>. <strong>Complexity of OM factorizations of polynomials over local fields</strong>. LMS Journal of Computation and Mathematics, 2013, pp. 139-171.</p>
		</div>

		<h4>Conference</h4>

		<div class="cv-details">
			<p class="item"><em>Stainsby, Hayden; Taboada, Manel; Luque, Emilio</em>. <strong>Agent-Based Simulation to Support Decision Making in Healthcare Management Planning</strong>. HEALTHINF, 2010.</p>
			<p class="item"><em>Stainsby, Hayden; Taboada, Manel; Luque, Emilio</em>. <strong>Towards an Agent-Based Simulation of Hospital Emergency Departments</strong>. IEEE International Conference on Services Computing, (SCC '09), 2009, pp. 536-539.</p>
			<p><em>Stainsby, Hayden; Muresano, Ronal; Fialho, Leonardo; Gonz&aacute;lez, Juan Carlos; Rexachs, Dolores; Luque, Emilio</em>. <strong>Teaching Model for Computational Science and Engineering Programme</strong>. International Conference on Computer Science (ICCS '09), 2009, pp. 34-43.</p>
		</div>

		<h3 class="page-title section">Conference &amp; seminar attendance</h3>

		<div class="cv-details">
			<div class="item">
				<p><strong>Barcelona Number Theory Seminar (STNB 2015)</strong> - <span class="location">Barcelona, Spain</span></p>
				<p>Participation: organiser, speaker.</p>
			</div>
		</div>

		<div class="cv-details">
			<div class="item">
				<p><strong>Number Theory Meets Geometry (2014)</strong> - <span class="location">Kaiserslautern, Germany</spam</p>
				<p>Participation: speaker.</p>
			</div>
		</div>

		<div class="cv-details">
			<div class="item">
				<p><strong>Barcelona Number Theory Seminar (STNB 2014)</strong> - <span class="location">Barcelona, Spain</span></p>
				<p>Participation: organiser, speaker.</p>
			</div>
		</div>

		<div class="cv-details">
			<div class="item">
				<p><strong>Barcelona Number Theory Seminar (STNB 2013)</strong> - <span class="location">Barcelona, Spain</span></p>
				<p>Participation: organiser.</p>
			</div>
		</div>

		<div class="cv-details">
			<div class="item">
				<p><strong>Algorithmic Number Theory Symposium (ANTS X 2012)</strong> - <span class="location">San Diego, U.S.A.</span></p>
				<p>Participation: attendee.</p>
			</div>
		</div>

		<div class="cv-details">
			<div class="item">
				<p><strong>Barcelona Number Theory Seminar (STNB 2012)</strong> - <span class="location">Barcelona, Spain</span></p>
				<p>Participation: attendee.</p>
			</div>
		</div>

		<div class="cv-details">
			<div class="item">
				<p><strong>Barcelona Number Theory Seminar (STNB 2011)</strong> - <span class="location">Barcelona, Spain</span></p>
				<p>Participation: attendee.</p>
			</div>
		</div>

		<div class="cv-details">
			<div class="item">
				<p><strong>IEEE International Conference on Services Computing (SCC 2009)</strong> - <span class="location">Bangalore, India</span></p>
				<p>Participation: speaker.</p>
			</div>
		</div>

		<h3 class="page-title section">Professional Experience</h3>

		<div class="cv-details">
			<div class="item">
				<h4>HERE - <span class="location">Berlin, Germany</span></h4>
				<p>"Mobile Application Developer" <span class="year">(2015 - present)</span></p>
				<p>Development of the iOS "Companion application" for HERE's connected car product.</p>
			</div>

			<div class="item">
				<h4>Universitat Aut&ograve;noma de Barcelona - <span class="location">Barcelona, Spain</span></h4>
				<p>"Research fellow" <span class="year">(2013 - 2015)</span></p>
				<p>New research in the area of computational number theory. This position also includes responsibility for teaching undergraduate level classes.</p>
			</div>

			<div class="item">
				<h4>Universitat de Barcelona - <span class="location">Barcelona, Spain</span></h4>
				<p>"IT technician" <span class="year">(2011 - 2012)</span></p>
				<p>Work as a programmer for the <em>Number Theory</em> research group at the University of Barcelona, which included the development of a web-site for the annual number theory seminar STNB.</p>
			</div>

			<div class="item">
				<h4>Titan Entertainment Group - <span class="location">London, United Kingdom</span></h4>

				<p>"Systems Developer and Administrator (remote)" <span class="year">(2007 - 2015)</span></p>
				<p>Development of mobile applications for Apple's iOS devices. Development of internal tools to administer servers and automate repetitive tasks. Management of web, email, and file servers based on the Mac and Linux operating systems.
			</div>

			<div class="item">
				<p>"Assistant IT Manager" <span class="year">(2006 - 2007)</span></p>
				<p>Day to day management of a team of IT support staff. Installation of personal computers and servers. Development of tools to administer servers and automate repetitive tasks.</p>
			</div>

			<div class="item">
				<p>"IT Support" <span class="year">(2005 - 2006)</span></p>
				<p>Help users with technical problems in design and productivity applications. Installation of personal computers and servers.</p>
			</div>

		</div>


		<h3 class="page-title section">Languages</h3>

		<div class="cv-details">
			<p><label>English</label>: Native speaker.</p>
			<p><label>Spanish (Castilian)</label>: Fluent speaking, advanced written.</p>
			<p><label>Catalan</label>: Intermediate speaking, basic written.</p>
			<p><label>German</label>: Basic speaking and written.</p>
		</div>

		<h3 class="page-title section">References</h3>

		<div class="cv-details">
			<p>
				References are available <a href="/contact/">on request</a>.
			</p>
		</div>

	</div>
{% endblock content %}
