page: iOS

{% extends "base.html" %}

{% block content %}
	<h2 class="page-title">iOS</h2>

	<p>This page contains a (currently quite small) selection of the iOS apps that I've developed for different clients.</p>

	<p>I've been building and shipping iOS apps since what was then called iPhoneOS 3. These days I'm a mobile application developer at <a href="http://here.com/">HERE</a>, working on the Companion App that works together with in-car navigation systems.</p>

	<div class="section">
		<h3>Spring Cat</h3>

		<div><span class="item-title">Client</span> <span class="item-content">Bravo Tango Bravo Advertising</span></div>
		<div><span class="item-title">Web-site</span> <span class="item-content"><a href="http://www.springcat.com.au/">springcat.com.au</a></span></div>
	</div>

	<div class="section">
		<h3>Truckie's Mate</h3>

		<div><span class="item-title">Client</span> <span class="item-content">Bravo Tango Bravo Advertising</span></div>
		<div><span class="item-title">Web-site</span> <span class="item-content"><a href="http://www.bravotangobravo.com.au/truckiesmate/">bravotangobravo.com.au/truckiesmate/</a></span></div>
	</div>

{% endblock content %}
