page: Teaching

{% extends "base.html" %}

{% block content %}
			<h2 class="page-title">Teaching</h2>

			<h3 class="section">Academic year 2014/2015</h3>

			<h4 class="section"><span class="emph">Algebra</span> - Bachelor's Degree in Computer Engineering (1<sup>st</sup> year)</h4>
			<p>Escola d'Enginyeria, UAB.</p>

			<h4 class="section"><span class="emph">Galois Theory</span> - Bachelor's Degree in Mathematics (3<sup>rd</sup> year)</h4>
			<p>Facultat de Ci&egrave;ncia i Bioci&egrave;ncia, UAB.</p>


			<h3 class="section">Academic year 2013/2014</h3>

			<h4 class="section"><span class="emph">Calculus</span> - Aeronautical management (1<sup>st</sup> year)</h4>
			<p>Escola d'Enginyeria, Sabadell.</p>
{% endblock content %}
