<!DOCTYPE html>
<html lang="en_GB">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="Mathematics, number theory, take away"></meta>

		<title>Mathematics - The Original Takeaway</title>

		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="/favicon.ico" type="image/x-icon">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

		<link rel="stylesheet" href="{{ get_url(path="css/takeaway.css") | safe }}">
		<link rel="stylesheet" href="{{ get_url(path="css/hilight.css") | safe }}">

	    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
		<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
			MathJax.Hub.Config({
			  tex2jax: {
			    inlineMath: [['$','$'], ['\\(','\\)']],
			    processEscapes: true
			  }
			});
		</script>
	</head>
	<body class="coffee">
		<div class="masthead" role="navigation">
			<div class="container">
				<nav class="takeaway-nav">
                    <a class="nav-item" href="/">Home</a>
                    <a class="nav-item" href="/archive/">Archive</a>
                    <a class="nav-item" href="/about/">About</a>
				</nav>
			</div>
		</div>
		<div class="container" role="main">

			{% block content %}
                <h1 class="logo">The Original Takeaway</h1>

                <h2 class="page-title">Hayden Stainsby</h2>

                <p class="cross-line"><em>{{ section.description }}</em></p>

            {% set section = get_section(path="posts/_index.md") %}
            {% include "_post_list.html" %}

			{% endblock content %}

			<div class="footer" role="footer">
				<div class="separator"></div>
				<p><span class="current-year">2016</span>, Hayden Stainsby.</p>
			</div>
		</div>

	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script>
			var skins = ['chinese', 'burger', 'coffee'];
			var skin_i = Math.floor(Math.random()*skins.length);
			$('body').removeClass().addClass(skins[skin_i]);
			$('.current-year').text((new Date()).getFullYear());
		</script>
		{% block scripts %}{% endblock scripts %}
	</body>
</html>
